<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link href="../static/style_2.css" rel="stylesheet">
<!--        <link rel="stylesheet" type="text/css" href="style_2.css"/>-->
<!--        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style_2.css', v=1)}}">-->
        <title>{{candidate.name}}</title>
    </head>
    <body>

        <h1>{{candidate.name}}</h1>
        <p>{{candidate.position}}</p>
        <img src="{{candidate.picture}}" width=200 alt="Моя картинка"/>

        {% for skill in candidate.skills.split(', ') %}
        <form action="/skill/{{skill}}">
                   <button class="button"> {{skill}}
        </form>
<!--            <p><a href="/skill/{{skill}}">{{skill}} </a></p>-->
        {% endfor %}


        <form action="/">
            <button class="violet"> Home
        </form>

    </body>
</html>