<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link href="../static/style_2.css" rel="stylesheet">

<!--        <link rel="stylesheet" type="text/css" href="style_2.css"/>-->
<!--        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style_2.css', v=1)}}">-->

        <title>Все кандидаты по совпадению навыков</title>
    </head>
    <body>
    <h1>найдено кандидатов {{candidates|length}}</h1>
            {% for candidate in candidates %}

                <form action="/candidate/{{candidate.pk}}">
                   <button class="button"> {{candidate.name}}
                </form>
<!--                <p><a href="/candidate/{{candidate.pk}}">{{candidate.name}}</a></p>-->
            {% endfor %}

    <form action="/">
            <button class="violet"> Home
    </form>

    </body>
</html>